:root{
    --white: #fffff5;
    --primary: #32325D;
    --title: #3A4F9A;
    --gray: #575757;
}

body {
    width: 1512px;
    height: 982px;
    margin: 0px;
    font-family: Inter, sans-serif;
}

.list-posts {
    padding: 0px;
    margin: 0px;
    position: relative;
    bottom: 58px;
    display:flex;
    grid-template-columns: 409px 409px 409px;
    max-inline-size: 100%;
    row-gap: 63px;
    column-gap: 63px
}

.page-content {
    margin-left: 79px;
}

header {
    position: sticky;
    top: 0px;
    background: var(--primary, #32325D);
    display: flex;
    width: 1354px;
    height: 29px;
    padding: 15px 79px;
    gap: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

header img {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

header h1 {
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    
}

.post-image {
    width: 771px;
    height: 311.4px;
    flex-shrink: 0;

}

.post {
    margin: 20px 400px 0px 341px;
    width: 771px;
    height: 519px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.post h2 {
    color: var(--title);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
    margin-left: 26px;
    margin-inline-start: 54.67px
}

.post p { 
    color: var(--gray);
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 153.846% */
    letter-spacing: 1.3px;
    margin: 15px 21px 18px 29px;
    width: 676.746px;
    height: 124.332px;
    flex-shrink: 0;
    margin-inline-start: 54.67px
}

.comments{
    width: 762px;
    height: 321px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 16px 408px 0px 342px;
    font-family: Inter, sans-serif;
    display: grid;
    row-gap: 28px;
    column-gap: 63px;
    margin-block-start: 63px;
    padding: 36px 56px 0px 54px;
    padding-block-start: 36px
}

.comments-details{
    width: 652px;
    height: 60px;
    border-bottom: 0.5px solid var(--gray);
    padding-bottom: 26px;
}
.comments-details h3 {
    display: inline;
    color: var(--title);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 1.6px;
}
.comments-details p {
    display: inline;
    color: var(--gray);
    font-family: Inter;
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 1.6px;
}